<!DOCTYPE html>
<html>
<head>
    <title>Compare Items</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Compare:</h1>
        <form action="{{ url_for('do_comparison', item1_id=item1_id, item2_id=item2_id) }}" method="POST">
            <p>{{ item1_name }} vs {{ item2_name }}</p>
            <input type="hidden" name="winner" value="{{ item1_id }}">
            <input type="hidden" name="loser" value="{{ item2_id }}">
            <button type="submit">{{ item1_name }}</button>
            <button type="submit">{{ item2_name }}</button>
        </form>
    </div>
</body>
</html>
